html {
	background-image: linear-gradient(to bottom right, #333333, #000000 80%);
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: hidden;
	color: #bbbbbb;
	font-family: 'Abel', sans-serif;
	/*
	font-family: 'M PLUS 1p', sans-serif;
	font-family: 'Varela Round', sans-serif;
	*/
}
body {
	background-image: linear-gradient(to bottom right, #000000, #333333 80%);
	width : 480px;	
	height: 854px;
	padding: 0.12%;
	border: 3px solid #deaa44;
}
.cent {
	margin: auto;
	padding: 4%;
	width: 80%;
}
