html {
	background-image: linear-gradient(to bottom right, #666666, #000000 80%);
	background-repeat: no-repeat;
	background-attachment: fixed;
	-ms-overflow-style: none;
	scrollbar-width: none;
	color: #bbbbbb;
	font-family: 'Abel', sans-serif;
	overflow: hidden;
	width : 963px;
	height: 956px;
	/*
	font-family: 'M PLUS 1p', sans-serif;
	font-family: 'Varela Round', sans-serif;
	*/
}
body {
	background-image: linear-gradient(to bottom right, #000000 20%, #666666 80%);
	width : auto;
	height: 97vh;
	padding: 0.12%;
	border: 3px solid #deaa44;
	overflow-y: auto;
}
.cent {
	margin: auto;
	padding: 4%;
	width: 80%;
}
::-webkit-scrollbar {
	position: absolute;
	width : 3px;
	height: 3px;
}
::-webkit-scrollbar-track {
	background: #666666; 
}
::-webkit-scrollbar-thumb {
	background: #888888; 
}
::-webkit-scrollbar-thumb:hover {
	background: #aaaaaa; 
}